<div class="modal-dialog" style="z-index:99 !important" dir="rtl">
    <div class="modal-content">

        <div class="modal-body">
            <button type="button" class="close" (click)="close()">&times;</button><br/>
            <form *ngIf="!response" (ngSubmit)="sendPassworResetEmail(prf)" #prf="ngForm">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" ngModel name="email" placeholder="example@example.com" required email>
                </div>


                <button type="submit" [disabled]="!prf.valid" class="btn btn-primary">Reset</button>
            </form>
            <div *ngIf="response" class="alert alert-success" [ngClass]="status ? alert-success : alert-danger" role="alert">{{ response }} </div>


        </div>

    </div>
</div>